body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:746px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:128px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:121px;
  width:300px;
  height:34px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:250px;
  width:63px;
  height:33px;
  font-size:28px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:261px;
  width:1px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:266px;
  width:79px;
  height:1px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:336px;
  width:300px;
  height:36px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(0, 0, 0, 0.266666666666667);
  text-align:left;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:347px;
  width:68px;
  height:20px;
  font-size:16px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(0, 0, 0, 0.356862745098039);
}
#u65 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:347px;
  width:113px;
  height:16px;
  font-size:13px;
  color:rgba(0, 0, 0, 0.356862745098039);
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#0066FF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:447px;
  width:81px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
  color:#0066FF;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:447px;
  width:300px;
  height:63px;
  overflow:hidden;
}
#u68_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
