body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:157px;
  width:86px;
  height:51px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.356862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:157px;
  width:86px;
  height:51px;
}
#u84_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84.mouseDown {
}
#u84_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84.selected {
}
#u84_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84.disabled {
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:261px;
  top:208px;
}
#u85_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
  background-image:none;
}
#u85_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:340px;
  word-wrap:break-word;
}
#u85_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
  visibility:hidden;
  background-image:none;
}
#u85_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:340px;
  word-wrap:break-word;
}
#u85_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
  visibility:hidden;
  background-image:none;
}
#u85_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:340px;
  word-wrap:break-word;
}
#u85_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
  visibility:hidden;
  background-image:none;
}
#u85_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
  background:inherit;
  background-color:rgba(0, 102, 255, 0.356862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:170px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:340px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.356862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:157px;
  width:86px;
  height:51px;
}
#u90_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.mouseDown {
}
#u90_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90.selected {
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.356862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:157px;
  width:86px;
  height:51px;
}
#u91_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 102, 255, 0.356862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91.mouseDown {
}
#u91_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 102, 255, 0.356862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91.selected {
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  word-wrap:break-word;
}
